[Unit]
Description=Snort3 IDS Daemon Service
After=syslog.target network.target
 
[Service]
Type=simple
ExecStart=/usr/local/snort/bin/snort -c /usr/local/snort/etc/snort/snort.lua -s 65535 -k none -l /var/log/snort -D -i ens160 -m 0x1b -u snort -g snort
ExecStop=/bin/kill -9 $MAINPID
 
[Install]
WantedBy=multi-user.target